<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Thêm mới học sinh</h1>
    <form th:action="@{save}" method="post" th:object="${student}" enctype="multipart/form-data">
      <label>Tên :</label> <input id="txt_name" name="txt_name" th:field="*{name}">

      <label>Địa chỉ :</label> <input id="txt_address" name="txt_address" th:field="*{address}">

        <label>Ảnh :</label> <input type="file" id="name_image" name="name_image" th:field="*{file}">
      <button type="submit" value="Save">Save</button>
    </form>

</body>
</html>